/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Reset */
* {
    padding: 0;
    margin: 0;
}

/* Variáveis */
:root {
    /* Combinações de cores */
    --primaria: #B4B4B8;
    --secundnaria: #C7C8CC;
    --terciaria: #E3E1D9;
    --quaternaria: #F2EFE5;
    --branco: #F0F5F9;
    --preto: #000;

    /* Cores dos botões */
    --primariaBotao: #F9FAFB;
    --segundariaBotao: #111827;

    /* Fontes */
    --interRegular: 'Inter', sans-serif;
}

/* Corpo */
body {
    box-sizing: border-box;
    background: var(--terciaria);
    color: var(--preto);
    overflow: auto;
}

/* Contêiner Principal */
main {
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 92.7vh; /* Alterado de height para min-height */
    
}

/* Contêiner da Seção */
section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 70%;
    height: 90%;
}

/* Contêiner de Texto */
.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 80%;
}

.texto__paragrafo__aviso {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    opacity: 0.8;
    font-family: var(--interRegular);
    font-size: 12px;
    font-weight: 400;
    line-height: 5em;
    letter-spacing: 0em;
    text-align: left;
}

.texto__img {
    width: 16px;
    height: 16px;
}

.texto__escrever {
    width: 100%;
    font-family: var(--interRegular);
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    resize: none;
    outline: none;
    overflow: hidden;
    height: auto;
    word-wrap: break-word;
    margin:  2em;
}

/* Estilos do Botão */
.botao__gerar {
    display: flex;
    justify-content: space-around;
    gap: 5em;
    padding-bottom: 5em;
}

.button {
    padding: 19px 140px;
    background-color: var(--primariaBotao);
    border: 2px solid var(--segundariaBotao);
    border-radius: 0.5rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    font-family: var(--interRegular);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    transition: 0.5s;
}

button:after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--segundariaBotao);
    border-radius: inherit;
    translate: 6px 6px;
    transition: 0.25s;
    z-index: -1;
}

.button:hover::after {
    translate: 0;
}

.button:hover {
    background-color: var(--segundariaBotao);
    color: var(--primariaBotao);
}

.mensagem__button .button {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 90%;
    margin-bottom: 2em;

}

/* Caixa de Mensagem */
/* Estilos CSS */
.mensagem {
    display: flex;
    flex-direction: column;
    background-color: var(--quaternaria);
    height: 53em; /* Preencherá toda a altura da div pai */
    width: 400px;
    border-radius: 37px;
    box-shadow: 0px 24px 32px -8px #00000014;
    z-index: 1;
    margin: 0; /* Remova a margem para preencher completamente a div pai */
}


.mensagem__texto {
    padding: 0 32px;
    margin: auto;
}

.mensagem__texto__mensagem {
    width: 336px;
    height: 100%; /* Altura 100% */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: auto;
    gap: 16px;
}

/* Message Text Styles */
.mensagem__texto__mensagem h2 {
    font-size: 24px;
    height: 100px;
    width: 12em; 
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--interRegular);
    font-weight: 700;
    line-height: 28.8px;
    overflow-wrap: break-word;
    overflow-y: auto;
}

.mensagem__texto__mensagem p,
#p {
    font-size: 16px;
    max-width: 300px;
    max-height: 400px;
    text-align: center;
    font-family: var(--interRegular);
    font-weight: 400;
    line-height: 24px;
    white-space: pre-line;
    overflow-wrap: break-word;
    overflow-y: auto;
}


/* Estilos da Barra de Rolagem */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    width: 2em;
    background-color: #000;
    border-radius: 36px;
}


/* Estilos para resoluções menores ou iguais a 600 pixels de largura (considerado para celulares) */
@media screen and (max-width: 300px) {
    /* Corpo */
    body {
        box-sizing: border-box;
        background: var(--terciaria);
        color: var(--preto);
        overflow-x: hidden; /* Para ocultar a rolagem horizontal */
        overflow-y: auto;
    }

    /* Main Section Styles */
    main {
        padding: 0 5%; /* Alterado para 2% */
        margin-bottom: 4%; /* Alterado para 5% */
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        
        gap: 0;
    }

    /* Section Styles */
    section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        width: 100%;
        height: 100%;
    }

    /* Text Container Styles */
    .texto {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        width: 100%;
        margin: 2em 0;
    }

    .texto__escrever {
        font-size: 32px;
        line-height: 48px;
    }

    /* Button Styles */
    .botao__gerar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        gap: 24px;
        margin-top: auto;
    }

    .button {
        width: 100%;
        height: 100%;
        padding: 24px;
        border-radius: 0.5rem;
    }
    .mensagem__button .button {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 90%;
        margin-bottom: 0;
    }

    /* Message Box Styles */
    .mensagem {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: var(--quaternaria);
        width: 100%;
        height: auto;
        padding: 32px 0;
        border-radius: 32px;
        box-shadow: 0px 24px 32px -8px #00000014;
        z-index: 1;
    }

    .mensagem__texto {
        padding: 0;
        margin: auto;
    }

    #mensagem__texto__imagem {
        display: none;
    }

    /* Message Text Styles */
    
    .mensagem__texto__mensagem {
        width: auto;
        height: 100%; /* Altura 100% */
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: auto;
        padding: auto;
        gap: 16px;
    }

    .mensagem__texto__mensagem h2 {
        font-size: 24px;
        height: 100px;
        width: 9em; 
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: var(--interRegular);
        font-weight: 700;
        line-height: 28.8px;
        overflow-wrap: break-word;
        overflow-y: auto;
        margin: auto;
        display: flex;
    }

    .mensagem__texto__mensagem #p {
        font-size: 16px;
        max-width: 11em;
        max-height: 300px;
        text-align: center;
        font-family: var(--interRegular);
        font-weight: 400;
        line-height: 36px;
        white-space: pre-line;
        overflow-wrap: break-word;
        overflow-y: auto;
        margin: 2em;
    }

    .mensagem__texto__mensagem p {
        width: auto;
        height: 200px;
        margin: 2%;
    }
}

/* Estilos para resoluções menores ou iguais a 600 pixels de largura (considerado para celulares) */
@media screen and (min-width: 300px) and (max-width: 600px) {
    /* Corpo */
    body {
        box-sizing: border-box;
        background: var(--terciaria);
        color: var(--preto);
        overflow-x: hidden; /* Para ocultar a rolagem horizontal */
        overflow-y: auto;
    }

    /* Main Section Styles */
    main {
        padding: 0 5%; /* Alterado para 2% */
        margin-bottom: 4%; /* Alterado para 5% */
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        
        gap: 0;
    }

    /* Section Styles */
    section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        width: 100%;
        height: 100%;
    }

    /* Text Container Styles */
    .texto {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        width: 100%;
        margin: 2em 0;
    }

    .texto__escrever {
        font-size: 32px;
        line-height: 48px;
    }

    /* Button Styles */
    .botao__gerar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        gap: 24px;
        margin-top: auto;
    }

    .button {
        width: 100%;
        height: 100%;
        padding: 24px;
        border-radius: 0.5rem;
    }
    .mensagem__button .button {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 90%;
        margin-bottom: 0;
    }

    /* Message Box Styles */
    .mensagem {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: var(--quaternaria);
        width: 100%;
        height: auto;
        padding: 32px 0;
        border-radius: 32px;
        box-shadow: 0px 24px 32px -8px #00000014;
        z-index: 1;
    }

    .mensagem__texto {
        padding: 0;
        margin: auto;
    }

    #mensagem__texto__imagem {
        display: none;
    }

    /* Message Text Styles */
    .mensagem__texto__mensagem h2 {
        font-size: 24px;
        height: 100px;
        width: 12em; 
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: var(--interRegular);
        font-weight: 700;
        line-height: 28.8px;
        overflow-wrap: break-word;
        overflow-y: auto;
        margin: auto;
        display: flex;
    }

    .mensagem__texto__mensagem #p {
        font-size: 16px;
        max-width: 275px;
        max-height: 300px;
        text-align: center;
        font-family: var(--interRegular);
        font-weight: 400;
        line-height: 36px;
        white-space: pre-line;
        overflow-wrap: break-word;
        overflow-y: auto;
        margin: 2em;
    }

    .mensagem__texto__mensagem p {
        width: auto;
        height: 200px;
        margin: 2%;
    }
}

/* Estilos para resoluções entre 601 e 1024 pixels de largura (considerado para tablets) */
@media screen and (min-width: 601px) and (max-width: 1022px) {
    /* Corpo */
    body {
        box-sizing: border-box;
        background: var(--terciaria);
        color: var(--preto);
        overflow: auto;
    }

    /* Main Section Styles */
    main {
        padding: 5%; /* Alterado para 5% */
        margin-bottom: 0%; /* Alterado para 5% */
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        gap: 0;
    }

    /* Section Styles */
    section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        width: 100%;
        height: 100%;
    }

    /* Text Container Styles */
    .texto {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        width: 100%;
        margin: 2em 0;
    }

    .texto__escrever {
        font-size: 24px;
        line-height: 36px;
    }

    /* Button Styles */
    .botao__gerar {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
        margin-top: auto;
    }

    .button {
        width: 332px;
        height: 67px;
        padding: 24px;
        border-radius: 0.5rem;
    }
    .mensagem__button .button {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 90%;
        margin-bottom: 0;
    }

    /* Message Box Styles */
    .mensagem {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: var(--quaternaria);
        width: 100%;
        height: auto;
        padding: 32px 0 32px 0;
        border-radius: 32px;
        box-shadow: 0px 24px 32px -8px #00000014;
        z-index: 1;
    }

    .mensagem__texto {
        padding: 0;
        margin: auto;
    }

    #mensagem__texto__imagem {
        display: none;
    }

    /* Message Text Styles */
    .mensagem__texto__mensagem h2 {
        font-size: 24px;
        height: 100px;
        width: 16.2em; 
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: var(--interRegular);
        font-weight: 700;
        line-height: 28.8px;
        overflow-wrap: break-word;
        overflow-y: auto;
    }

    .mensagem__texto__mensagem #p {
        font-size: 16px;
        max-width: 500px;
        max-height: 300px;
        text-align: center;
        font-family: var(--interRegular);
        font-weight: 400;
        line-height: 36px;
        white-space: pre-line;
        overflow-wrap: break-word;
        overflow-y: auto;
    }

    .mensagem__texto__mensagem p {
        width: 500px;
        margin: 2%;        
    }
}

/* Estilos para resoluções entre 601 e 1024 pixels de largura (considerado para tablets) */
@media screen and (min-width: 1023px) and (max-width: 1400px) {
    /* Corpo */
    body {
        box-sizing: border-box;
        background: var(--terciaria);
        color: var(--preto);
        overflow: auto;
    }

    /* Main Section Styles */
    main {
        padding: 5%; /* Alterado para 5% */
        margin-bottom: 0; /* Alterado para 5% */
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        gap: 0;
    }

    /* Section Styles */
    section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        height: 100%;
        width: 100%;
    }

    /* Text Container Styles */
    .texto {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        width: 70%;
        margin: 2em 0;
    }

    .texto__escrever {
        font-size: 24px;
        line-height: 36px;
    }

    /* Button Styles */
    .botao__gerar {
        display: flex;
        justify-content: space-around;
        width: 100%;
        gap: 20px;
        margin-top: auto;
    }

    .button {
        width: 332px;
        height: 67px;
        padding: 24px;
        border-radius: 0.5rem;
    }
    .mensagem__button .button {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 90%;
        margin-bottom: 0;
    }

    /* Message Box Styles */
    .mensagem {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: var(--quaternaria);
        width: 100%;
        height: auto;
        padding: 32px 0 32px 0;
        border-radius: 32px;
        box-shadow: 0px 24px 32px -8px #00000014;
        z-index: 1;
    }

    .mensagem__texto {
        padding: 2em;
        margin: auto;
    }

    #mensagem__texto__imagem {
        display: none;
    }

    /* Message Text Styles */
    .mensagem__texto__mensagem h2 {
        font-size: 24px;
        height: 100px;
        width: 16.2em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: var(--interRegular);
        font-weight: 700;
        line-height: 28.8px;
        overflow-wrap: break-word;
        overflow-y: auto;
    }

    .mensagem__texto__mensagem #p {
        font-size: 16px;
        max-width: 600px;
        max-height: 300px;
        text-align: center;
        font-family: var(--interRegular);
        font-weight: 400;
        line-height: 36px;
        white-space: pre-line;
        overflow-wrap: break-word;
        overflow-y: auto;
    }

    .mensagem__texto__mensagem p {
        width: auto;
        margin: 2%;        
    }
}